<div class="reply_box">
	<div class="editor_wrapper">
		<%= render "ropes/create_post/high_bar", :f => p, :post => post %>
		<%= render "ropes/create_post/text_box", :f => p, :post => post %>
	</div>
	<div class="tag_box"><%= f.text_field :tags, :id => "tag_input", :value => ""  %></div>
</div>
