<div class="thread_info">
	<div class="page_info">
		<p>
			<%= t 'threads.page', :number => @threads.current_page, :total => @threads.total_pages %>
			<%- if @threads.total_pages > 1 -%>
				<span class="dash">&mdash;</span>
			<%- end -%>
		</p>
		<%= paginate @threads %>
		<ul class="mod_opts abnormal">
			<%= render "ropes/index/mod_opts" %>
		</ul>
</div></div>
