<span class="username"><code><%= t('posts.deleted.short') %></code></span>
<div class="title"><code><%= t('posts.deleted.short') %></code></div>
<div class="user_image"></div>
<div class="user_data">
</div>
