
<div class="graph grid_16 alpha">
  <% @post_history.each do |his| %>
    <span class='data' data-value="<%= his[1] %>" data-index="<%= his[0] %>"></span>
  <% end %>
</div>

<div class="stats grid_8 alpha">
  <ul>
    <li class="header">
      <h2>more statistics <small>since never</small></h2>
    </li>
    <li><a>not implemented :(</a></li>
  </ul>
</div>
<div class="recent_events grid_8 omega">
  <ul>
    <li class="header">
      <h2>recent events <small>since never</small></h2>
    </li>
    <li><a>not implemented :(</a></li>
  </ul>
</div>
