<ul class="nav">
  <% %w(dashboard users groups boards plugins).each do |location| %>
    <li <%= if controller_name == location then "class='selected'".html_safe end %>><%= link_to location, admin_root_path + "/" + location %></li>
  <% end %>
</ul>
