<ul class='thread_list abnormal'>
	<li class='header_row'>
		<span class='head size50'><%= t 'threads.name' %></span>
		<span class="head size20"><%= t 'threads.last_post' %></span>
		<span class="head size20"><%= t 'threads.posts' %></span>
	</li>
	<% Impression.where(:user_id => current_user.id)
		 .where(:impressionable_type => 'Rope')
		 .order(:created_at)
		 .group(:impressionable_id).each do |impression| %>
		<% thread = Rope.find impression.impressionable_id %>
		<%= render :partial => if thread.soft_destroyed? then "ropes/index/deleted_entry" else "ropes/index/entry" end, :locals => { :thread => thread } %>
	<% end -%>
</ul>
