<h3>Generic Forums</h3>

<p>Generic Forums is an open-source forum project, targeting simplicity.   As it is, generic forums was built on these technologies:</p>

<ul>
<li><a href="http://rubyonrails.org/"><code>Ruby on Rails</code></a> (v3.2.3)</li>
<li><a href="https://github.com/binarylogic/authlogic"><code>AuthLogic</code></a> (v3.1.3)</li>
<li><a href="https://github.com/ryanb/cancan"><code>CanCan</code></a> (v1.6.8)</li>
<li><a href="https://github.com/amatsuda/kaminari"><code>Kaminari</code></a> (v0.14.1)</li>
<li><a href="https://github.com/rtomayko/rdiscount"><code>RDiscount</code></a> (v1.6.8)</li>
<li><a href="https://github.com/nesquena/rabl"><code>Rabl</code></a> (0.7.6)</li>
</ul>


<p>Generic Forums has contributions from the following people:</p>

<ul>
<li><a href="https://github.com/redjazz96/">redjazz96, Dr. Derp, PhD, or Ac!dL3ak</a></li>
<li><a href="http://www.gabrielecirulli.com/">Gabriele Cirulli</a></li>
</ul>


<p>Generic Forums can be found <a href="https://github.com/redjazz96/generic-forums">on github</a>.</p>
