<%= render "posts/single_post/post_data", :post => post %>
<span class="version">
	<%= t 'posts.version', :version => post.live? ? post.versions.last.id+1 : post.version.id %>
</span>
<% if post.previous_version %>
	<%- editor = User.find post.previous_version.version.terminator %>
	<% if editor != post.user %>
		<span class="edited_by">
			<%= t('posts.edited_by', :user => link_to(editor.name, user_path(editor))).html_safe %>
		</span>
	<% end %>
<% end %>
