<% if post.live? %>
	<ul class="post_opts abnormal">
		<% if can? :post, @rope %>
			<li><%= link_to "Reply", new_board_rope_post_path(@board, @rope, :parent_id => post.id) %></li>
		<% end -%>
		<% if can? :edit_post, @post %>
			<li><%= link_to "Edit", edit_board_rope_post_path(@board, @rope, post) %></li>
		<% end -%>
		<% if can? :delete_post, @post %>
			<li><%= link_to "Delete", board_rope_post_path(@board, @rope, post), :method => "delete" %></li>
		<% end -%>
	</ul>
<% end %>
