<h1><%= @board.name %></h1>
<ul class='board-list'>
  <li class='header-row'>
    <span class='head size50'>Board Name</span>
    <span class="head size20">Last Post</span>
    <span class="head size20">Active Threads</span>
  </li>
  <% Board.where(:parent_id => @board.id).find_each do |board| %>
    <li class='data-row'>
      <span class="data board-name size50"><%= board.name %></span>
      <span class="data basic-data size20">???</span>
      <span class="data basic-data size20">???</span>
    </li>
  <% end -%>
</ul>
