$blue-color: #2b8bb3;
$mid-blue-color: lighten($blue-color, 20%);
$light-blue-color: lighten($blue-color, 40%);
$default-color: #444;

@mixin main-font {
  font-family: "Open Sans";
  //font-weight: 300;
  color: $default-color;
  font-size: 13px;
}

@mixin header-font {
  font-family: "Fredoka One";
  color: $blue-color;
}

@mixin clearfix {
  *zoom: 1;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

$ninesixty-fluid-gutter-margin: 2%;
$ninesixty-fluid-gutter-width: 2%;
$ninesixty-fluid-grid-width: 94%;
$ninesixty-fluid-grid-margin: 2%;
$ninesixty-fluid-grid-min-width: 960px;
$ninesixty-columns: 16;
$ninesixty-class-separator: "-";
$ninesixty-font-family: "Open Sans";
$ninesixty-font-size: 14px;
@import '960/fixed';
@import '960/text';
