<!--<h2>Threads In <%= @board.name %></h2>-->

<%= render :partial => "ropes/index/thread_info" %>
<ul class='thread_list abnormal'>
  <li class='header_row'>
    <span class='head size50'>Thread Name</span>
    <span class="head size20">Last Post</span>
    <span class="head size20">Posts</span>
  </li>
  <% @threads.each do |thread| %>
    <%= render :partial => "ropes/index/entry", :locals => { :thread => thread } %>
  <% end -%>
</ul>
<%= render :partial => "ropes/index/thread_info" %>
