<header>
  <h1><a href="/">{<span>generic.forums</span>}</a></h1>

  <ul class="menu">
    <li><a href="/">home</a></li>
    <li><a class="active" href="/">place</a></li>
    <li><a href="/">another place</a></li>
  </ul>
</header>
